$title_color: rgb(31, 73, 125);
$title_hover_color: rgb(2, 36, 77);
$road_color: #dc3546;
$road_hover_color: #be2f3d;
$live_color: #ffc107;
$live_hover_color: #dda600;
$solved_color: #4169e1;
$solved_hover_color: #3558c2;