*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Century Gothic;
    margin: 0;
}

.linc-color:hover{
    color: rgb(2, 36, 77);
}

.header{
    display: flex;
    justify-content: space-between;
}

.linc-color{
    font-size: 20px;
    font-weight: 700;
    color: rgb(31, 73, 125);
}

.text-color{
    font-weight: bold;
    color: rgb(31, 73, 125);
}

.stat{
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

.stat--item{
    margin: auto;
    text-align: center;
    align-items: center;
}

.stat--text{
font-weight: bold;
}

.feedback{
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

.feedback--item{
    margin: auto;
    text-align: center;
    align-items: center;
}

.made{
    margin: 30px auto;
}

.footer{
    background-color: rgb(31, 73, 125);;
}

.footer--inner{
    display: flex;
    justify-content: center;
}

.footer--item{
    margin: 30px;
    align-items: center;
    color: white;
}



.carousel {
    height: 500px !important;
  }

.carousel-inner img {
height: 400px !important;
margin: 0 auto;
}

.carousel-indicators li {
border-color: #000;
}

.carousel-indicators .active {
background-color: #000;
}

