<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обращения граждан</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css"/>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    <header class="header">
		<div class="container">
            <div class="header__wraper">
                <div class="header__menu">
                    <ul class="header__nav" id="navbarContent">
                        <li class="header__nav-item"><a href="index.html">Главная</a></li>
                        <li class="header__nav-item"><a href="citizensAppeals.html">Обращения граждан</a></li>
                        <!-- <li class="header__nav-item"><a href="#">Контакты</a></li> -->
                    </ul>
                </div>
                <div class="side">
                    <button class="button button_header" onclick="location.href='apeal.html'">Сообщить о проблеме</button>
                    <a href="https://sibadi.org" target="_blank"><img src="img/SibADI_logo.png" alt="СИБАДИ" class="side__sib-logo"></a>
                    <a href="https://t.me/bkg_sibadibot" target="_blank"><img src="img/qr.png" alt="Телеграм бот" class="side__qr"></a>
                </div>

            </div>
		</div>
    </header>
    <section class="appeals">
        <div class="container">
            <h1>Обращения граждан</h1>
            <ul class="appeals__tabs">
                <li class="appeals__tab appeals__tab_all appeals__tab_active"><div>Все обращения</div> </li>
                <li class="appeals__tab appeals__tab_road"><div>Безопасность на дорогах</div> </li>
                <li class="appeals__tab appeals__tab_live"><div>Комфортность проживания</div> </li>
                <li class="appeals__tab appeals__tab_solved"><div>Решенные проблемы</div> </li>
            </ul>
            <div class="appeals__wraper">
                <div class="appeal-item appeal-item_road appeal-item_active">
                    <img src="img/1.jpg" alt="" class="appeal-item__img">
                    <div class="appeal-item__footer">
                        <div class="appeal-item__address">г. Омск, пр. Мира, 5</div>
                        <div class="appeal-item__descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, doloremque alias! Enim ex corporis tempore, sed impedit tenetur veritatis? Ad voluptatibus maiores dicta blanditiis repellat fugiat distinctio voluptas, iste non.</div>
                        <div class="appeal-item__category">Категория: <span class="appeal-item__category_road">Безопасность на дорогах</span></div>
                        <div class="appeal-item__date">10.07.2020</div>
                    </div>
                </div>
                <div class="appeal-item appeal-item_live appeal-item_active">
                    <img src="img/1.jpg" alt="" class="appeal-item__img">
                    <div class="appeal-item__footer">
                        <div class="appeal-item__address">г. Омск, пр. Мира, 5</div>
                        <div class="appeal-item__descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem accusamus, tempora quisquam porro quas culpa exercitationem quibusdam velit fugiat iste alias sapiente voluptatibus necessitatibus consequatur omnis perspiciatis, eius, laboriosam perferendis.</div>
                        <div class="appeal-item__category">Категория: <span class="appeal-item__category_live">Комфортность проживания</span></div>
                        <div class="appeal-item__date">10.07.2020</div>
                    </div>
                </div>
                <div class="appeal-item appeal-item_solved appeal-item_active">
                    <img src="img/1.jpg" alt="" class="appeal-item__img">
                    <div class="appeal-item__footer">
                        <div class="appeal-item__address">г. Омск, пр. Мира, 5</div>
                        <div class="appeal-item__descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nisi inventore amet incidunt obcaecati asperiores dolorem animi ullam eius! Perspiciatis rerum possimus labore eveniet vitae quae voluptate omnis, nemo natus.</div>
                        <div class="appeal-item__category">Категория: <span class="appeal-item__category_solved">Решенные проблемы</span></div>
                        <div class="appeal-item__date">10.07.2020</div>
                    </div>
                </div>
                <div class="appeal-item appeal-item_solved appeal-item_active">
                    <img src="img/1.jpg" alt="" class="appeal-item__img">
                    <div class="appeal-item__footer">
                        <div class="appeal-item__address">г. Омск, пр. Мира, 5</div>
                        <div class="appeal-item__descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui ipsam facilis dolore explicabo ipsum impedit, quidem et dolor ab, deleniti libero fugit a, nesciunt laudantium distinctio error incidunt asperiores itaque!</div>
                        <div class="appeal-item__category">Категория: <span class="appeal-item__category_solved">Решенные проблемы</span></div>
                        <div class="appeal-item__date">10.07.2020</div>
                    </div>                    
                </div>
                <div class="appeal-item appeal-item_live appeal-item_active">
                    <img src="img/1.jpg" alt="" class="appeal-item__img">
                    <div class="appeal-item__footer">
                        <div class="appeal-item__address">г. Омск, пр. Мира, 5</div>
                        <div class="appeal-item__descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem accusamus, tempora quisquam porro quas culpa exercitationem quibusdam velit fugiat iste alias sapiente voluptatibus necessitatibus consequatur omnis perspiciatis, eius, laboriosam perferendis.</div>
                        <div class="appeal-item__category">Категория: <span class="appeal-item__category_live">Комфортность проживания</span></div>
                        <div class="appeal-item__date">10.07.2020</div>
                    </div>
                </div>
                <div class="appeal-item appeal-item_solved appeal-item_active">
                    <img src="img/1.jpg" alt="" class="appeal-item__img">
                    <div class="appeal-item__footer">
                        <div class="appeal-item__address">г. Омск, пр. Мира, 5</div>
                        <div class="appeal-item__descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nisi inventore amet incidunt obcaecati asperiores dolorem animi ullam eius! Perspiciatis rerum possimus labore eveniet vitae quae voluptate omnis, nemo natus.</div>
                        <div class="appeal-item__category">Категория: <span class="appeal-item__category_solved">Решенные проблемы</span></div>
                        <div class="appeal-item__date">10.07.2020</div>
                    </div>
                </div>
                <div class="appeal-item appeal-item_road appeal-item_active">
                    <img src="img/1.jpg" alt="" class="appeal-item__img">
                    <div class="appeal-item__footer">
                        <div class="appeal-item__address">г. Омск, пр. Мира, 5</div>
                        <div class="appeal-item__descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, doloremque alias! Enim ex corporis tempore, sed impedit tenetur veritatis? Ad voluptatibus maiores dicta blanditiis repellat fugiat distinctio voluptas, iste non.</div>
                        <div class="appeal-item__category">Категория: <span class="appeal-item__category_road">Безопасность на дорогах</span></div>
                        <div class="appeal-item__date">10.07.2020</div>
                    </div>
                </div>
                <div class="appeal-item appeal-item_road appeal-item_active">
                    <img src="img/1.jpg" alt="" class="appeal-item__img">
                    <div class="appeal-item__footer">
                        <div class="appeal-item__address">г. Омск, пр. Мира, 5</div>
                        <div class="appeal-item__descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, doloremque alias! Enim ex corporis tempore, sed impedit tenetur veritatis? Ad voluptatibus maiores dicta blanditiis repellat fugiat distinctio voluptas, iste non.</div>
                        <div class="appeal-item__category">Категория: <span class="appeal-item__category_road">Безопасность на дорогах</span></div>
                        <div class="appeal-item__date">10.07.2020</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">  
        <div class="footer__wraper">
            <div class="footer__item">
                Контакты и обращения <br>
                8-950-783-62-65 <br>
                bkg@sibadi.org 
            </div>
            <div class="footer__item">
                2021 ФГБОУ ВО «СибАДИ» <br>
                644080, г. Омск, пр. Мира 5
            </div>
            <div class="footer__item">
                <a style="color: white; text-decoration: none;" href=""> Техподдержка сайта <br> </a>
                <a style="color: white; text-decoration: none;" href=""> Карта сайта<br> </a>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/filter.js"></script>
</body>
</html>